__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

.venv/
venv/
env/
ENV/


.env
.env.*
!.env.example
.DS_Store
Thumbs.db

*.log

.vscode/
.idea/

*.tar
*.gz

.cache/
*.cache

*.sqlite3
*.db